In [41]:
from dash import Dash, html, callback, dcc, Output, Input
import plotly.graph_objects as go
import pandas as pd
import numpy as np
import random

df_rows = int(1e3)
df = pd.DataFrame()
df["A"] = [random.randint(1,10) for i in range(df_rows)]
df["B"] = [random.randint(1,10) for i in range(df_rows)]
df["C"] = [random.randint(1,10) for i in range(df_rows)]
df['label'] = random.choices(["ice cream truck", "taco truck", "roach coach"], k=df_rows)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       1000 non-null   int64
 1   B       1000 non-null   int64
 2   C       1000 non-null   int64
 3   label   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [108]:
app = Dash()
app.layout = [
    html.H1(children="Application Title", style={'textAlign':'left'}),
    dcc.Dropdown(df.label.unique(), 'Babagooey', id='dropdown-selection'),
    dcc.Slider(0, 10, .1, value=10, marks=None, 
              tooltip={"placement":"bottom", "always_visible":True},
              id='slider-value'),
    dcc.Graph(id='graph-content')
]

@callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value'),
    Input('slider-value', 'value')
)
def update_graph(value, slider):
    print(value, slider, type(value), type(slider))
    _df = df[df.label == value] if value != None else df
    _df = _df[(_df.A <= int(slider)) &
                (_df.B <= slider) &
                (_df.C <= slider)]
    return go.Figure(data=go.Scatter3d(x=_df.A, y=_df.B, z=_df.C,
                                       marker=dict(opacity=0.5),
                       mode='markers'))

In [109]:
app.run()

Babagooey 10 <class 'str'> <class 'int'>
None 10 <class 'NoneType'> <class 'int'>
taco truck 10 <class 'str'> <class 'int'>

In [101]:
df[(df.A <= 5) & (df.B <=5) & (df.C<=5)]

     A  B  C            label
0    4  2  4  ice cream truck
10   2  3  1      roach coach
20   2  5  3       taco truck
28   4  5  4      roach coach
30   2  4  5  ice cream truck
..  .. .. ..              ...
981  5  5  5       taco truck
983  4  1  4       taco truck
984  1  4  3       taco truck
986  3  5  1  ice cream truck
994  4  1  2  ice cream truck

[140 rows x 4 columns]